@import './config';

.listview{
  min-height: 100vh;
  position: relative;
}

.listview_main{
  position: relative;
}


.listview_main::before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-image: url(../../assets/svg/list_background.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  min-height: 100vh;
  filter: brightness(80%);
}

.list_main_container{
  min-height: calc(100vh - 10rem);
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
  justify-items: center;
  width: 80%;
  margin: auto;
  column-gap: 30px;
}

.card{
  @include flex(center, center);
  flex-direction: column;
  height: 80%;
  width: 100%;
  border-radius: 20px;
  border: none;
  box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.06);
  transform: translateY(10px);
  padding: .5rem;
  background-color: white;

  & > div:nth-child(1){
    @include flex(center, center);
    height: 60%;
    width: 100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    background-color: #F1F1F1;

    img{
      width: 60%;
      height: 100%;
      transform: translateY(-20px);
    }
  }

  & > div:nth-child(2){
    height: 40%;
    width: 100%;
    @include flex(center, center);
    row-gap: .5rem;
    flex-direction: column;
    background-color: white;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;

    p{
      font-family: 'Clash Display', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
      font-weight: 500;
      font-size: 24px;
    }
  }
}

.types_container{
  display: flex;
  column-gap: .5rem;

  & > span {
    padding: 0rem .8rem;
    background-color: #eee;
    border-radius: 30px;
  }
}

.pagination{
  height: 7rem;
  @include flex(space-between, center);
  width: 80%;
  margin: auto;
}
.paginationBttns{
  z-index: 100;
  display: flex;
  list-style: none;
  padding: 0;

  & a{
    font-family: 'Clash Display', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    background: #E1E1E1;
    padding: .5rem 1rem;
    margin: .5rem;
    border-radius: 8px;
    cursor: pointer;
  }
}

.theme_one a {
  background-color: #E85382;
  color: white;
}

.theme_two a {
  background-color: #39BADF;
  color: white;
}

.theme_three a {
  background-color: #E1A725;
  color: white;
}

// .card:hover {
//   height: 95%;
//   // transition: 300ms ease-out;
//   grid-template-rows: 50.4263% 33.6842% 1fr;
//   z-index: 100;
// }

// .card:hover .view_button {
//   opacity: 1;
//   pointer-events: all;
// }

// .view_button{
//   border: none;
//   border-radius: 14px;
//   opacity: 0;
//   pointer-events: none;
//   margin-top: .5rem;
//   font-family: 'General Sans', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
//   font-size: 16px;
//   line-height: 21.6px;
//   @include flex(space-between, center);
//   padding: 0 .7rem;
//   cursor: pointer;
// }

#page-size {
  z-index: 100;
  font-family: 'Clash Display', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 500;
  font-size: 24px;
}