:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

@font-face {
  font-family: 'General Sans';
  src: url(./assets/font/GeneralSans-Variable.ttf);
}

@font-face {
  font-family: 'Clash Display';
  src: url(./assets/font/ClashDisplay-Variable.ttf);
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  color: black;
  font-family: 'General Sans', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
